<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="40" id="it.mephit.ah3m" version="1.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Arkham III Monsters</name>
    <description>
        Monster Deck setup helper for Arkham Horror Third Edition
    </description>
    <author email="jure@mephit.it" href="http://mephit.it">
        Jure di Mephit
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="Fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="DisableCrashRecovery" value="true" />
    <preference name="SplashScreenBackgroundColor" value="black" />
    <preference name="SplashScreen" value="/img/logo.png" />
    <preference name="SplashScreenWidth" value="150" />
    <preference name="SplashScreenHeight" value="160" />
    <preference name="AutoHideSplashScreen" value="false" />
</widget>
